<div class="headline-container">
    <h2 class="headline-title">{{post.metaTitle}}</h2>
    <h4 class="headline-subtitle">{{post.metaSubtitle}}</h2>
    <p class="headline-message">Read more <span><a href="/news">here</a></span></p>
    <div class="error">{{message}}</div>
</div>