<div class="news-content">
    {{#each post}}
    <div class="post">
            <h2 class='post-title'>{{title}}</h2>
            <p class='post-info'>Posted by {{author}} {{time_posted}}</p>
            <p class='post-content'>{{content}}</p>
    </div>
    {{/each}}
</div>