body {
	background: url("/images/bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.navbar-dark {
	margin-top: 1%;
  	background-color: transparent;
  	font-family: 'Open Sans' sans-serif;
}

.navbar-brand {
	margin: 0;
}

.nav-link {
	color: white;
	font-weight: 800;
	font-size: .85em;
}

#navbarSupportedContent ul li a:hover,.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link { 
	color:#da3555;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    border-radius: 10px;
}
li.nav-item {
    margin: 0px 30px;
}
.navbar-dark .navbar-brand {
    margin-right: 100px;
}
.post-title {
	margin-bottom: 0;
	color: #da3555;
	display: inline;
}

.post-info {
	margin-bottom: 1px;
	display: inline;
	color: #A9A9A9;
}

#author {
	color: #52BFD6;
}

.post-content {
	margin-top: 1%;
}
ul.list-inline.sc-list li a:hover {
    background-color: transparent !important;
}
ul.list-inline.sc-list {
    margin-bottom: 0;
    margin-right: auto;
}
.post-content h1{
	font-size: 1.2em;
}

.news-content {
	margin-top: 2%;
	font-size: 1em;
}
@media (max-width: 991px){
	.navbar-dark .navbar-brand {
    margin-right: auto;
}

li.nav-item {
    margin: 0px 20px;
}
	.navbar-expand-sm .navbar-nav {
    margin-left: auto;
}
	
}

@media (max-width: 991px){
	li.nav-item {
    margin: 0px 0px;
}
.navbar-dark .navbar-nav .nav-link {
    padding: 8px 15px;
}
	ul.list-inline.sc-list {
    margin-top: 10px;
    text-align: right;
}
	.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgb(64, 81, 173);
    border-radius: 10px;
    background-color: rgb(64, 81, 173);
}
	button:focus {
    outline: none;
		border-color: #fff !important;
}
}

















