body {
	background: url("/images/bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.navbar-dark {
  background-color: #01002b;
  font-family: 'Open Sans' sans-serif;
	padding: 15px 15% 15px 15%;
	box-shadow: 1px 2px 10px #000;
}

.nav-link {
	color: white;
	font-weight: 800;
	font-size: .85em;
}

.nav-item {
	padding: 0 50px 0 50px;
}

.nav-store {
	background-color: #ff7f7d;
	border-radius: 10%;
}

#navbarSupportedContent ul li:hover a { 
	color:#ff7f7d;
}

.navbar-collapse {
	margin-left: 5%;
	position: relative;
}

.navbar-nav {
	margin: none;
	padding: none;
}