.navbar-dark {
  background-color: #01002b;
  font-family: 'Open Sans' sans-serif;
  padding: 15px 15% 15px 15%;
}

.nav-link {
	color: white;
	font-weight: 800;
	font-size: .80em;
}

#navbarSupportedContent ul li:hover a { 
	color:#fd5651;
}

.navbar-collapse {
	margin-left: 20%;
}

.icon-area {
	margin-left: 95px;

}

.icon-area li {
	float: right;
}

.profile-area {
	background-color: #05051a;
	height: 100%;
	width: 120px;
}